@import 'bulma';
@import 'joshua';

@import 'layout';
@import 'home';
@import 'profile/profile';
@import 'planner';
@import 'library';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

$grey: #F5F7FA;

body {
  background-color: lighten($grey, 2%);
}

.large {
  &.clone {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid black 1px;
  }
}

ul {
  list-style: none;
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

$blue: blue;
$green: green;
$orange: orange;

.blue {
  color: blue;
}

.green {
  color: $green;
}

.orange {
  color: orange;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

// //////////////////////////////////////////////
// ////// -- Footer  ////////////////////////////
// //////////////////////////////////////////////

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

// // //////////////////////////////////////////////
// // ////// -- Library  ///////////////////////////
// // //////////////////////////////////////////////

// .library {
//   // @media screen and (max-width: 760px) {
//     nav {
//       .container {
//         border-top: solid #ccc 1px;
//         border-radius: 10px;
//       }
//     }
//     .content {
//       .plants {
//         display: flex;
//         list-style: none;
//         margin: 0;
//         padding: 3px 0 0 0;
//         overflow: scroll;
//         .plant {
//           border: solid black 1px;
//           position: relative;
//           display: flex;
//           margin: 0;
//           img {
//             border: solid pink 1px;
//             height: 50px;
//             width: 90px;
//             margin: 5px;
//           }
//         }
//       }
//     }
//     .plant {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       .overview {
//         display: flex;
//         justify-content: space-around;
//         padding-top: 10px;
//         width: 100%;
//         .info {
//           min-width: 30%;
//         }
//         img {
//           width: 65%;
//           border:solid black 1px;
//         }
//       }
//       .detail {
//         width: 95%;
//         margin-top: 10px;
//       }
//     }
//   // }
//   @media screen and (min-width: 760px) {

//   }
// }

// //////////////////////////////////////////////
// ////// -- Planner  ///////////////////////////
// //////////////////////////////////////////////

// @media screen and (max-width: 760px) {
//   .big-screen {
//     display: none;
//     visibility: hidden;
//   }

// }

// @media screen and (min-width: 760px) {
//   .planner {
//     .tabs {
//       margin: 0;
//       padding: 5px 0 10px;
//     }
//   }

//   .planner {
//     border: solid green 2px;
//     .small-screen {
//       display: none;
//     }
//   }

//   .planner {
//     border: solid green 3px;
//     border-radius: 10px;
//     .big-screen {
//       display: unset;
//     }
//     .library {
//       display: flex;
//       justify-content: center;
//       border:solid orange 2px;
//       border-bottom: none;
//       border-top-left-radius: 5px;
//       border-top-right-radius: 5px;
//       margin: 0 2px;
//       .plants {
//         display: flex;
//         overflow: scroll;
//         planner-plant-card {
//           min-width: 110px;
//           height: 110px;
//           .plant {
//             display: flex;
//             flex-direction: column;
//             img {
//               width: 100px;
//               height: 100px;
//               border: solid pink 1px;
//               margin: 3px auto 0;
//             }
//           }
//         }
//       }

//     }

//   }
//   .plan {
//     border-top: solid green 3px;
//     border-radius: 10px;
//     .garden {
//       min-height: 300px;
//       max-height: 400px;
//       max-width: 800px;
//       margin: 80px auto;
//       display: flex;
//       flex-direction: column;
//       .row {
//         display: flex;
//         justify-content: center;
//         .space {
//           border: solid black 1px;
//           height: 100px;
//           width: 100px;
//         }
//       }
//     }
//   }
// }








