@import 'bulma';
@import 'joshua';

@import 'layout/layout';
@import 'home/home';
@import 'profile/profile';
@import 'planner/planner';
@import 'library/library';
@import 'nav/nav';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

$grey: #F5F7FA;
$green: #49BF02;

body {
  background-color: lighten($grey, 2%);
}

.large {
  &.clone {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: solid black 1px;
  }
}

ul {
  list-style: none;
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

$blue: blue;
$orange: orange;

.blue {
  color: blue;
}

.green {
  color: $green;
}

.orange {
  color: orange;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 0;
}

// //////////////////////////////////////////////
// ////// -- Footer  ////////////////////////////
// //////////////////////////////////////////////

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}