<!-- {{vm.plant}} -->

<ul>
  <li>Name: {{vm.plant.name}}</li>
  <li>Categroy: {{vm.plant.category}}</li>
  <li>Season: {{vm.plant.season}}</li>
  <li>Family: {{vm.plant.family}}</li>
  <li>Size: {{vm.plant.size}}</li>
  <li>Sun: {{vm.plant.sun}}hrs</li>
  <li>Water: {{vm.plant.water}}</li>
  <li>Seed Count: {{vm.plant.seed_count}}</li>
  <li>Maturity: {{vm.plant.maturity}}</li>
  <li>Production: {{vm.plant.production}}</li>
  <li>Fertilizers: {{vm.plant.fertilizers}}</li>
  <li>Secrets: {{vm.plant.secrets}}</li>
</ul>