<div class="wrapper planner" layout="column" flex>
  <div class="small-screen">
    <p>Our Garden Planner performs best on a large screen.  Tablet or desktop monitor required.</p>
  </div>
  <button class="save" ng-click="vm.saveGarden()">Save Garden</button>
  <div class="big-screen">

  <!-- NAV -->

  <nav-card></nav-card>

  <!-- <garden-card></garden-card> --> 
    <div class="plan">
      <div class="garden" layout-wrap>
        <div class="row" ng-repeat="row in vm.getNumberArray(vm.rows) track by $index" ng-init="vm.gardenRow = $index" ng-attr-id="{{$index + 1}}">
          <div class="space" ng-repeat="space in vm.getNumberArray(vm.spacesInRows) track by $index" ng-init="vm.gardenSpace = $index" ng-style="{'width': vm.spaceWidth, 'height': vm.spaceHeight}" jqyoui-droppable="{onDrop: 'vm.drop(event, ui, row, space)'}"
          data-jqyoui-options data-drop="true" ng-attr-id="{{$index + 1}}">
          </div>
        </div>
      </div>
    </div>

  </div>
  
</div>
<footer>
      <p>
        <strong>myGarden</strong> by <a href="">humdrum</a> <!-- Link humdrum to a page with our wonderful faces!! :D -->
      </p>
      <p>
        <a class="icon" href="https://github.com/jjrajani">
          <i class="fa fa-github"></i>
        </a>
      </p>
      <!-- INSERT JOSH GITHUB -->
      <p>
        <a class="icon" href="https://github.com/">
          <i class="fa fa-github"></i>
        </a>
      </p>
  </footer>