<div class="wrapper planner" layout="column" flex>
  <div class="small-screen">
    <p>Our Garden Planner performs best on a large screen.  Tablet or desktop monitor required.</p>
  </div>

  <div class="big-screen">

  <!-- NAV -->

  <div class="tabs">
    <ul>
      <li><a>Library</a></li>
      <li class="is-active"><a>Vegetables</a></li>
      <li><a>Herbs</a></li>
      <li><a>Seasons</a></li>
    </ul>
  </div>
  <!-- Library -->
  <div data-drag="true" jqyoui-draggable>So you think you can drag</div>


  <div class="library">
    <ul class="plants">
    <!-- ng-repeat="plant in vm.plants"  -->
      <li class="plant" 
          jqyoui-draggable="{onStart: 'vm.start()'}" data-drag="true"
          data-jqyoui-options="{helper: 'clone', revert: 'invalid'}">
        <img src="http://placehold.it/100x100">
      </li>
      <li class="plant large" 
          jqyoui-draggable="{onStart: 'vm.start()'}" data-drag="true"
          data-jqyoui-options="{helper: 'clone', revert: 'invalid'}">
        <img src="http://placehold.it/100x100">
      </li>
    </ul>
  </div>


    <div class="plan">
      <div class="garden" layout-wrap>
        <div class="row">
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
        </div>
        <div class="row">
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
        </div>
        <div class="row">
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
          <div class="space" data-drop="true" jqyoui-droppable='{onDrop: "vm.drop()"}'></div>
        </div>

      </div>

    </div>

  </div>
  
</div>