<div class="wrapper planner" layout="column" flex>
  <div hide-md>
    <p>Our Garden Planner performs best on a large screen.  Tablet or desktop monitor required.</p>
  </div>

  <div hide-xs hide-sm>

  <!-- NAV -->

    <div class="nav" layout="row">
      <div flex="20">    
        <p>Library</p>
      </div>
      <div flex="80" layout="row">
        <p flex="25">Vegetables</p>
        <p flex="25">Herbs</p>
        <p flex="25">Alphabetical</p>
        <p flex="25">Season</p>
      </div>
    </div>

  <!-- Library -->

    <div class="library">
      <ul class="plants" layout="row">
        <li class="plant" align="center">
          <img src="#">
          <p>Name</p>
        </li>
        <li class="plant" align="center">
          <img src="#">
          <p>Name</p>
        </li>
        <li class="plant" align="center">
          <img src="#">
          <p>Name</p>
        </li>
        <li class="plant" align="center">
          <img src="#">
          <p>Name</p>
        </li>
        <li class="plant" align="center">
          <img src="#">
          <p>Name</p>
        </li>
        <li class="plant" align="center">
          <img src="#">
          <p>Name</p>
        </li>
        <li class="plant" align="center">
          <img src="#">
          <p>Name</p>
        </li>
      </ul>
    </div>

    <div class="plan" align="center">
      <div class="garden" layout="row" layout-wrap>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>

        
      </div>
    </div>

  </div>
  
</div>