// base encyclopedia

@import 'grow-calendar';
@import 'growing';
@import 'harvesting';
@import 'overview';
@import 'problems';
@import 'spacing';
@import 'specs';
@import 'starting';
@import 'watering';

.encyclopedia {
  display: flex;
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
  background-color: #0f0f0f;
  border: solid 1px rgba(17, 17, 17, 0.3);
  border-radius: 4px;
  width: 100%;
  margin-top: 170px;
  position: fixed;
}