// base starting

.growing {
  width: 100%;
  padding: 10px 0 0 0;
  margin: 47px 0 0 0;
  
  growing-card {
    .content {
      border-top: solid 1px $green;
      border-top: solid $orange 1px;
      background-color: lighten(#0f0f0f, 10%);
      margin: 0;
      padding: 10px 0;
    }
    h3 {
      &.title {
        width: 100%;
        color: white;
        margin: 15px 0 0 0;
        padding: 5px 5%;
        border-top: solid 1px $orange;
        text-align: right;
        background-color: $orange;
        letter-spacing: 0.08em;
      }
    }
  }
  p, .subtitle {
    width: 100%;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 1em;
  }
  .tag {
      width: 150px;
      margin: 5px 10px 5px 2.5%;
      background-color: $green;
      color: white;
      font-weight: 600;
      letter-spacing: 0.08;
    }
}

// overview base

// .overview {

//   .imgs {
//     display: flex;
//     width: 100%;
//     justify-content: space-around;
//     img {
//       width: 100%;
//       height: 150px;
//       margin: 10px 0 0;
//     }
//   }
  
//   
//   .specs {
//     
//     p {
//       color: white;
//     }
//     ul {
//       margin: 0;
//       padding: 0;
//     }
//     li {
//       width: 100%;
//       margin: 0;
//       padding: 0 0 0 2.5%;
//       color: white;
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//     }
//     .subtitle {
//       padding: 15px 0 15px 15px;
//       margin: 0 0 20px 0;
//       background-color: #0f0f0f;
//       border-bottom: solid 1px $orange;
//     }
//     
//   }
//   .content {
//     border: solid $orange 1px;
//     .subtitle {
//       padding: 15px 0 15px 15px;
//       margin: 0 0 20px 0;
//       background-color: #0f0f0f;
//       border-bottom: solid 1px $orange;
//       color: white;
//     }
//     li {
//       width: 100%;
//       margin: 0 0 10px 0;
//       padding: 0 0 0 2.5%;
//       color: white;
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//     }
//   }
// }
