// base starting

.growing {
  width: 100%;
  padding: 10px 0 0 0;
  margin: 17px 0 0 0;
  
  growing-card {
    .content {
      background-color: lighten(#0f0f0f, 10%);
      margin: 30px 0 30px;
      p {
        color: white;
        &.paragraph {
          padding: 0 2.5%;
          &:last-child {
            padding: 0 2.5% 14px;
          }
        }
      }
    }
    h3 {
      &.title {
        position: fixed;
        width: 100%;
        color: white;
        font-weight: 600;
        margin: 0;
        padding: 5px 5%;
        text-align: right;
        background-color: $green;
        letter-spacing: 0.08em;
        border-bottom: solid 1px $orange;
      }
    }
    .label {
      width: 100%;
      background-color: #0f0f0f;
      padding: 13px 0 13px 15px;
      margin: 0 0 20px 0;
      color: white;
      font-weight: 300;
      font-size: 18px;
      border-bottom: solid 1px $orange;
    }
  }
}