// overview base

.overview {
  border-top: solid 1px $green;
  width: 100%;
  padding: 10px 0 0 0;
  margin: 17px 0 0 0;
  h3 {
    &.title {
      position: fixed;
      width: 100%;
      color: white;
      margin: 0;
      padding: 5px 5%;
      text-align: right;
      background-color: $green;
      letter-spacing: 0.08em;
    }
  }
  p {
    &.subtitle {
      width: 100%;
      color: white;
      margin: 0;
      padding: 5px 5%;
    }
  }
  .specs {
    margin: 30px 0 0;
    padding: 0;
    background-color: lighten(#0f0f0f, 10%);
    p {
      color: white;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      width: 100%;
      margin: 0;
      padding: 0 0 0 2.5%;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .subtitle {
      padding: 15px 0 15px 15px;
      margin: 0 0 20px 0;
      background-color: #0f0f0f;
      border-bottom: solid 1px $orange;
    }
    .tag {
      width: 150px;
      margin: 5px 10px 5px 5px;
      background-color: $green;
      color: white;
      font-weight: 600;
      letter-spacing: 0.08;
      font-size: 1em;
    }
  }
  .content {
    border: solid $orange 1px;
    .subtitle {
      padding: 15px 0 15px 15px;
      margin: 0 0 20px 0;
      background-color: #0f0f0f;
      border-bottom: solid 1px $orange;
      color: white;
    }
    li {
      width: 100%;
      margin: 0 0 10px 0;
      padding: 0 0 0 2.5%;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
