// base starting

.watering {
  width: 100%;
  padding: 10px 0 0 0;
  margin: 17px 0 0 0;
  
  watering-card {
    .content {
      background-color: lighten(#0f0f0f, 10%);
      margin: 30px 0 0;
      p {
        color: white;
      }
    }
    h3 {
      &.title {
        position: fixed;
        width: 100%;
        color: white;
        margin: 0;
        padding: 5.5px 5%;
        // border-top: solid 1px $orange;
        text-align: right;
        background-color: $green;
        letter-spacing: 0.08em;
      }
    }
    .label {
      width: 100%;
      background-color: #0f0f0f;
      padding: 13px 0 13px 15px;
      margin: 0 0 20px 0;
      color: white;
      font-weight: 300;
      font-size: 18px;
      border-bottom: solid 1px $orange;
    }
  }
}