<div class="profile wrapper">
  <div class="user-info">
    <p class="subtitle">hudrum</p> <!-- {{ user.username }} -->
    <p>Active Gardens: </p> <!-- {{ user.gardens.active }} -->
    <p class="lg-sc">Gardening Since: </p> <!-- {{ user.created_at }} -->
  </div>

  <div class="edit-user">
    <img src="#"> <!-- {{user.avatar}} -->
    <form>
      <p class="control">
        <label>humdrum@hum.drum</label>
        <input type="text" name="email" ng-show="vm.showEmail" placeholder="humdrum@hum.drum"> <!--{{user.email}}-->
        <i class="fa fa-check-circle-o" aria-hidden="true" ng-show="vm.showEmail" ng-click="vm.updateEmail()"></i>
        <i class="fa fa-pencil" aria-hidden="true" ng-click="vm.editEmail()" ng-hide="vm.showEmail"></i>
        <i class="fa fa-ban" aria-hidden="true" ng-show="vm.showEmail" ng-click="vm.editEmail()"></i>
      </p>

      <p class="control">
        <label>Change Password</label>
        <input type="password" name="password" ng-show="vm.showPassword" placeholder="type password">
        <input type="password" name="password" ng-show="vm.showPassword" placeholder="re-enter password">
        <i class="fa fa-check-circle-o" aria-hidden="true" ng-show="vm.showPassword" ng-click="vm.updatePassword()"></i>
        <i class="fa fa-pencil" aria-hidden="true" ng-click="vm.editPassword()" ng-hide="vm.showPassword"></i>
        <i class="fa fa-ban" aria-hidden="true" ng-show="vm.showPassword" ng-click="vm.editPassword()"></i>
      </p>

      <p class="control">
        <label>Atl, Ga</label> <!-- {{ user.location }} -->
        <input type="text" name="location" ng-show="vm.showLocation" placeholder="City">
        <input type="text" name="location" ng-show="vm.showLocation" placeholder="St">
        <i class="fa fa-check-circle-o" aria-hidden="true" ng-show="vm.showLocation" ng-click="vm.updateLocation()"></i>
        <i class="fa fa-pencil" aria-hidden="true" ng-click="vm.editLocation()" ng-hide="vm.showLocation"></i>
        <i class="fa fa-ban" aria-hidden="true" ng-show="vm.showLocation" ng-click="vm.editLocation()"></i>
      </p>
    </form>
  </div>

  <div class="gardens">
    <div class="nav">
      <p>Active</p>
      <p>Planning</p>
    </div>
    <div class="overview">
      <div class="nav">
        <p>Overview</p>
        <p>Comment</p>
      </div>
      <div class="content">
        
      </div>
    </div>
  </div>

</div>