<div class="profile wrapper">
  <div class="user-info">
    <p class="subtitle">{{vm.user.username || 'n/a'}}</p> <!-- {{ user.username }} -->
    <p class="subtitle lg-sc">Gardens: {{vm.gardens.length}}</p> <!-- {{ user.gardens.active }} -->
    <p class="subtitle">Gardening Since: {{vm.user.created_at.split('-')[0]}}</p> <!-- {{ user.created_at }} -->
  </div>

  <div class="edit-user">
    <img src="{{vm.user.avatar || 'https://avatars1.githubusercontent.com/u/14117380?v=3&s=460'}}"> <!-- {{user.avatar}} -->
    <form>
    <p class="control">
      <label ng-hide="vm.showEdit">{{ vm.user.email }}</label>
      <input type="email" name="email" ng-show="vm.showEdit" ng-model="vm.user.email" placeholder="New email"> <!--{{user.email}}-->
    </p>
    <i class="fa fa-ban" aria-hidden="true" ng-show="vm.showEdit" ng-click="vm.edit()"></i>
      <p class="control">
        <label ng-hide="vm.showEdit"> {{vm.user.location}} </label> <!-- {{ user.location }} -->
        <input type="text" name="location" ng-show="vm.showEdit" placeholder="City, St" ng-model="vm.user.location">
      </p>
      <i class="fa fa-check-circle-o" aria-hidden="true" ng-show="vm.showEdit" ng-click="vm.submitEdit()"></i>
      <i class="fa fa-pencil" aria-hidden="true" ng-hide="vm.showEdit" ng-click="vm.edit()"></i>
    </form>
  </div>

  <div class="garden-nav">
    <div class="nav">
      <!-- <p class="title"><span class="green">{{user.user_name || 'humdrum'}}s</span><span class="orange">Gardens</span></p> -->
      <ul class="garden-categories">
        <p ng-click="vm.clearState()" ng-class="{active: vm.gardenState === 0}">New Garden</p>
        <p ng-class="{active: vm.gardenState === 1}" ng-click="vm.gardenState = 1">Gardens</p>
        <!-- <p ng-click="vm.gardenState = 2" ng-class="{active: vm.gardenState === 2}">Planning</p> -->
      </ul>
      <!-- <div class="overview-tab" ng-hide="vm.gardenState === 0">
        <p ng-class="{active: vm.overviewTab === 1}" ng-click="vm.overviewTab = 1">Overview</p>
        <p ng-class="{active: vm.overviewTab === 2}" ng-click="vm.overviewTab = 2">Comment</p>
      </div>

      <ul class="garden-list" ng-show="vm.gardenState === 1">
        <li ng-repeat="garden in vm.activeGardens">{{garden.name || 'n/a'}}</li>
      </ul>
      <ul class="garden-list" ng-show="vm.gardenState === 2">
        <li ng-repeat="garden in vm.planningGardens" ng-click="vm.selectGarden(garden.id)" ng-class="{active: vm.selectedGarden.id === garden.id}">{{garden.name || 'n/a'}}</li>
      </ul> -->

    </div>
    <div class="new-garden" ng-show='vm.gardenState === 0'>
        <form class="newGarden">
          <p class="control">
          <label for="name">Garden Name</label>
            <input id="name" type="text" ng-model="garden.name" class="input">
          </p>
          <p class="control">
          <label for="tags">Garden Tags</label>
            <input id='tags' type="text" placeholder="Comma Seperated" ng-model="garden.tags" class="input">
          </p>
          <div class="size">
            <p class="control">
              <label>Height (ft)</label>
              <span class="select">
                <select ng-model="garden.height">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </span>  
            </p>
            <p class="control">
              <label>Width (ft)</label>
              <span class="select">
                <select ng-model="garden.width">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                </select>
              </span>
            </p>
          </div>
          <p class="control">
            <label>Image Upload</label>
            <!--<input type="url" ng-model="vm.garden.image">-->
          </p>
        </form>
      <button ng-click="vm.addGarden(garden)" class="button">Create Garden</button>
    </div>
    <div class="gardens" ng-show='vm.gardenState === 1'>
      <div class="garden" ng-repeat="garden in vm.gardens">
        <div class="top">
          <h3 class="title">{{garden.name}}</h3>
          <i class="fa fa-trash" aria-hidden="true" ng-click="vm.deleteGarden(garden.id)"></i>
          <i class="fa fa-pencil" aria-hidden="true" ng-click="vm.editGarden(garden.id)"></i>
          <p class="created">
            <span class="bold">Planted</span>{{vm.dateStringify(garden.created_at)}}
          </p>
        </div>
        <h5 class="subtitle">{{garden.tags}}</h5>
        <p><span class="dimensions">Plot Deminsion: </span><span class="width">Width: {{garden.width}}</span><span class="height">Height: {{garden.height}}</span></p>
        <p><span class="size">Plot Size: </span>{{vm.sqFt(garden.height, garden.width)}} square feet</p>
        <ul class="plants">
          <li class="plant" ng-repeat="plant in garden.plants">
            <img src="{{plant.image}}" style="min-width: 100px; max-width: 100px; height: 100px;">
            <p>{{plant.name}}</p>
          </li>
        </ul>
      </div>
    </div>





    
  </div>

</div>