<div class="register">
  <form class="register" ng-submit="vm.register(user)">
    <p class="control">
      <input type="text" class="input" ng-model="user.username" placeholder="Username">
    </p>
    <p class="control">
      <input class="input" type="email" ng-model="user.email" placeholder="Email">
    </p>
    <p class="control">
      <input type="password" class="input password" ng-model="user.password" placeholder="Password">
    </p>
    <p class="control">
      <input type="text" class="input" ng-model="user.firstname" placeholder="First Name">
    </p>
    <p class="control">
      <input type="text" class="input" ng-model="user.lastname" placeholder="Last Name">
    </p>
    <button class="button">Submit</button>

  </form>
</div>