// mobile encyclopedia


@import 'grow-calendar';
// @import 'growing';
// @import 'harvesting';
// @import 'problems';
@import 'spacing';
// @import 'specs';
// @import 'starting';
// @import 'watering';

$darkborder: rgba(17, 17, 17, 0.3);
$lightborder: rgba(17, 17, 17, 0.1);

.encyclopedia {
  @media screen and (min-width: 400px) {
    .chapters {
      display: flex;
      width: 100%;
      margin: 0;
      overflow-y: scroll;
      padding-top: 0;
      position: fixed;
      border-top: solid 1px $green;
      border-bottom: solid $green 1px;
      background-color: #0f0f0f;
      &::-webkit-scrollbar { 
      display: none;
      z-index: 2;
      }
      li {
        display: flex;
        margin: 0;
        padding: 0;
        background-color: #0f0f0f;
        border-color: #0f0f0f;
        color: $green;
        color: white;
        letter-spacing: 0.08em;
        font-weight: 600;
        &:hover {
          background-color: $orange;
          border-color: $orange;
        }
        &.active {
          background-color: $green;
          color: white;
        }
        p {
          display: flex;
          padding: 3px 8px;
          margin: 0 5px;
          white-space: nowrap;
        }
      }
    }
  }
}