<form class="newGarden" ng-submit="vm.addGarden(garden)">
  <p class="control">
  <label for="name">Garden Name</label>
    <input id="name" type="text" ng-model="garden.name" class="input">
  </p>
  <p class="control">
  <label for="tags">Garden Tags</label>
    <input id='tags' type="text" placeholder="Comma Seperated" ng-model="garden.tags" class="input">
  </p>
  <div class="size">
    <p class="control">
      <label>Height (ft)</label>
      <span class="select">
        <select ng-model="garden.height">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </span>
    </p>
    <p class="control">
      <label>Width (ft)</label>
      <span class="select">
        <select ng-model="garden.width">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
        </select>
      </span>
    </p>
  </div>
  <button class="button">Create Garden</button>
</form>