// //////////////////////////////////////////////
// ////// -- Library  ///////////////////////////
// //////////////////////////////////////////////
// @import 'encyclopedia/encyclopedia';
@import 'encyclopedia/encyclopedia';
@import 'library-plant-card';

.library {
  .nav-top {
    width: 100%;
    background-color: orange;
    z-index: 100;
    box-shadow: inset 1px 1px 3px rgba(17, 17, 17, 0.1);
    .container {
      border-top: solid #ccc 1px;
      border-radius: 10px;
      .nav-left {
        background-color: orange;
        position: fixed;
        width: 100%;
      }
      a {
        color: white;
      }
    }
  }
  .content {
    .plants {
      display: flex;
      list-style: none;
      z-index: 100;
      overflow: scroll;
      padding: 50px 0 0;
      color: white;
      background-color: #FCFCFD;
      box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1);
      .plant {
        position: relative;
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: center;
        p {
          margin: 0;
          padding: 3px;
          color: #69707a;
        }
        img {
          border: solid pink 1px;
          height: 90px;
          min-width: 90px;
          max-width: 90px;
          margin: 0 10px;
        }
      }
    }
  }
}

.library {
  @media screen and (max-width: 760px) {

  }
  // @media screen and (min-width: 760px) {

// }
}