@import 'mobile/profile';
@import 'mobile/user-info';

.profile {
  // General
  border: solid 1px blue;
  display: flex;
  flex-direction: column;
  .user-info {
    display: flex;
  }
  .overview {
    position: relative;
    i.fa-trash { 
      position: absolute;
    }
  }
}


// @import 'mobile/user-info';
// @import 'big-screen/user-info';

// @import 'user-gardens';
// @import 'mobile/user-gardens';
// @import 'big-screen/user-gardens';