// @import 'user-garden-comments';

// .gardens {
//   display: flex;
//   flex-direction: column;
//   margin: 20px 1%;
//   padding: 20px 8%;
//   background-color: white;
//   border: solid 1px rgba(17, 17, 17, 0.1);
//   border-radius: 4px;
//   .nav {
//     border: solid 1px rgba(17, 17, 17, 0.3);
//     border-bottom: none;
//     background-color: transparent;
//     display: flex;
//     &.l {
//       width: 100%;
//       align-items: center;
//       .title {
//         margin: 5px 1%;
//       }
//     }
//     p {
//       border: solid 1px rgba(17, 17, 17, 0.3);
//       width: 100%;
//       height: 30px;
//       display: flex;
//       align-items: center;
//       padding: 0 10px;
//       border-radius: 4px;
//       &.active {
//         border-top-right-radius: 0;
//         border-bottom-right-radius: 0;
//         background-color: lighten(green, 10%);
//         color: white;
//       }
//     }
//     li {
//       &.active {
//         background-color: lighten(blue, 10%);
//         color: white;
//       }
//     }
//   }
//   .new-garden {
//     border: solid 1px $darkborder;
//     padding: 10px 2.5%;
//     display: flex;
//     width: 100%;
//     form {
//       display: flex;
//       flex-wrap: wrap;
//       width: 100%;
//     }
//     .control {
//       width: 50%;
//       display: flex;
//       margin: 0;
//       padding: 5px;
//     }
//     input {
//       display: flex;
//       margin: 0 0 0 5px;
//     }
//     select {
//       margin: 0px 0 0 40px;
//       width: 465px;
//     }
//   }
//   .overview {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     box-shadow: none;
//     .nav {
//       min-height: 0;
//       justify-content: flex-start;
//       p {
//         width: 25%;
//         border: solid 1px orange;
//         border-radius: 4px;
//         margin: 5px;
//         &.active {
//           background-color: lighten(orange, 10%);
//           color: white;
//         }
//       }
//     }
//     .content {
//       border: solid 1px rgba(17, 17, 17, 0.3);
//       border-bottom-right-radius: 4px;
//       border-bottom-left-radius: 4px;
//     }
//     &.borderless {
//       border: 0px;
//     }
//   }
// }