// encylcodeida import

@import 'base/encyclopedia';
@import 'mobile/encyclopedia';
@import 'big-screen/encyclopedia';

////////////////////////////////////
// Colors //////////////////////////
////////////////////////////////////

$darkborder: rgba(17, 17, 17, 0.3);
$lightborder: rgba(17, 17, 17, 0.1);

////////////////////////////////////
////////////////////////////////////

.encyclopedia {
  flex-direction: column;
  overflow: scroll;
}