@media screen and (max-width: 760px) {
  .big-screen {
    display: none;
    visibility: hidden;
  }

}

@media screen and (min-width: 760px) {
  .small-screen {
    display: none;
    visibility: hidden;
  }

.nav-top {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    .container {
      border-top: solid #ccc 1px;
      border-radius: 10px;
    }
  }
  .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px 0 0 0;
    padding: 200px 0 0;
  }
  .garden {
    width: 100%;
    .row {
      max-width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .space {
        border: solid 1px $orange;
      }
    }
  }
}

.hidden {
  display: none;
  visibility: none;
}

.save {
  width: 20%;
  padding: 10px;
  border-radius: 4px;
  background-color: $green;
  color: white;
  border: solid $green 1px;
  position: absolute;
  top: 15px;
  right: 20%;
  z-index: 10000;
  &:hover {
    background-color: $orange;
  }
}