@media screen and (max-width: 760px) {
  .big-screen {
    display: none;
    visibility: hidden;
  }

}

@media screen and (min-width: 760px) {
  .small-screen {
    display: none;
    visibility: hidden;
  }
  .plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 45px 0 0 0;
    padding: 20px 0 0;
  }
  .garden {
    width: 100%;
    .row-1, .row-2, .row-3, .row-4 {
      max-width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .space-1, .space-2, .space-3, .space-4,
      .space-5, .space-5, .space-6, .space-7, .space-8, 
      .space-9, .space-10, .space-11, .space-12, 
      .space-13, .space-14, .space-15, .space-16 {
        border: solid 1px $orange;
        font-size: 0.8em;
      }
    }
  }
}

.hidden {
  display: none;
  visibility: none;
}

.save {
  width: 20%;
  padding: 10px;
  border-radius: 4px;
  background-color: $green;
  color: white;
  border: solid $green 1px;
  position: absolute;
  top: 15px;
  right: 20%;
  z-index: 10000;
  &:hover {
    background-color: $orange;
  }
}