@media screen and (max-width: 760px) {
  .big-screen {
    display: none;
    visibility: hidden;
  }

}

@media screen and (min-width: 760px) {
  .small-screen {
    display: none;
    visibility: hidden;
  }

.nav-top {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    .container {
      border-top: solid #ccc 1px;
      border-radius: 10px;
    }
  }
  .plan {
    display: flex;
    justify-content: center;
    margin: 45px 0 0 0;
    padding: 200px 0 0;
  }
  .garden {
    width: 100%;
    .row {
      display: flex;
      margin: 0 auto;
      border: solid blue 1px;
      width: 90%;
      .space {
        border: solid blue 1px;
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
    }
  }
}