
@import 'big-screen/home';
@import 'mobile/home';

$lightborder: rgba(17, 17, 17, 0.1);
$darkborder: rgba(17, 17, 17, 0.3);
$green: #49BF02;

.home {
  .jumbotron {
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 10px 0 20px 0;
    img {
      position: absolute;
      top: -100px;
    }
  }
  .content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 0 10px 0;
    background-color: #0F0F0F;
    max-width: 1189px;
    a {
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 95%;
      margin: 10px 2.5%;
      padding: 20px;
      border-radius: 4px;
      &.new-garden {
        color: white;
        font-weight: 600;
        background-color: $green;
        letter-spacing: 0.06;
        &:hover {
        background-color: orange;
          .orange {
            color: white;
          }
        }
        &:focus {
          background-color: $green;
        }
      }
    }
    .planner, .library {
      margin: 0px 2.5%;
      font-weight: 600;
      padding: 0px 1.5%;
      background-color: white;
      border: solid $darkborder 1px;
      border-radius: 4px;
      box-shadow: 1px 1px 3px rgba(17,17,17,0.1),
                  -1px -1px 3px rgba(17,17,17,0.1);
      .title {
        margin: 0;
      }
      p{
        margin: 0;
        visibility: hidden;
      }
      &:hover {
        background-color: $orange;
        .orange {
          color: white;
        }
        p {
          visibility: visible;
          color: white;
        }
      }
    }
    .planner {
      position: relative;
      a {
        margin: 30px auto;
      }
      p {
        position: absolute;
        display: flex;
        padding: 5px 5%;
        justify-content: center;
        bottom: 4px;
      }
    }

    .library {
      align-items: center;
      justify-content: center;
      div {
        display: flex;
        justify-content: space-around;
        a {
          width: 30%;
          background-color: $green;
          border-radius: 4px;
          color: white;
        }
      }
    }
  }
  .user {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 0 10px 0;
    max-width: 1189px;
    button {
      width: 45%;
      font-weight: 400;
      margin: 10px 2.5%;
      background-color: $green;
      border: none;
      border-radius: 4px;
      color: white;
      &:hover {
        background-color: $green;
        color: white;
        font-weight: 600;
      }
      &:focus {
        background-color: $orange;
        color: white;
        font-weight: 600;
      }
    }
  }
}



