
@import 'big-screen/home';
@import 'mobile/home';

$lightborder: rgba(17, 17, 17, 0.1);
$darkborder: rgba(17, 17, 17, 0.3);
$green: #49BF02;

.home {
  .jumbotron {
    height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 10px 0 20px 0;
    img {
      position: absolute;
      top: -100px;
    }
  }
  .content {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 0 10px 0;
    background-color: #0F0F0F;
    max-width: 1189px;
    a {
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 95%;
      margin: 10px 2.5%;
      padding: 20px;
      border-radius: 4px;
      &.new-garden {
        color: white;
        font-weight: 600;
        background-color: $green;
        letter-spacing: 0.06;
        &:hover {
        background-color: orange;
          .orange {
            color: white;
          }
        }
        &:focus {
          background-color: $green;
        }
      }
    }
    .planner, .library {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 4px;
      h3 {
        &.title {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 20px auto;
          padding: 5px 12px;
          border-bottom: solid 1px rga(10, 10, 10, 1);
        }
      }
      &:hover {
        background-color: $orange;
        .green {
          color: white;
        }
        .orange {
          color: $green;
        }
        h3 {
          color: rgba(17, 17, 17, 0.8);
        }
      }
      &:focus {
        background-color: $green;
        .orange{
          color: $orange;
        }
      }
    }
  }
  .user {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 0 10px 0;
    max-width: 1189px;
    button {
      width: 45%;
      font-weight: 400;
      margin: 10px 2.5%;
      background-color: $green;
      border: none;
      border-radius: 4px;
      color: white;
      &:hover {
        background-color: $green;
        color: white;
        font-weight: 600;
      }
      &:focus {
        background-color: $orange;
        color: white;
        font-weight: 600;
      }
    }
  }
}



