<nav class="nav-top has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab category" ng-click="vm.showAll(vm.plants)">Library</a>
      <a class="nav-item is-tab is-active" ng-click="vm.categoryFilter(vm.plants, 'vegetable')">Vegetables</a>
      <a class="nav-item is-tab" ng-click="vm.categoryFilter(vm.plants, 'herb')">Herbs</a>
      <a class="nav-item is-tab" ng-click="vm.showSeasons = !vm.showSeasons">Season</a>
      <ul ng-show="vm.showSeasons">
        <li class="season"><a href="" ng-click="vm.seasonFilter(vm.plants, 'spring')">Spring</a></li>
        <li class="season"><a href="" ng-click="vm.seasonFilter(vm.plants, 'summer')">Summer</a></li>
        <li class="season"><a href="" ng-click="vm.seasonFilter(vm.plants, 'fall')">Fall</a></li>
        <li class="season"><a href="" ng-click="vm.seasonFilter(vm.plants, 'winter')">Winter</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <ul class="plants">
    <li class="plant" ng-repeat="plant in vm.navPlants" ng-click="vm.setCurrentPlant(plant)">
      <p class="plant-title">{{plant.name}}</p>
      <img src="">
      <p class="size-seed">{{plant.seed_count}} sd | {{plant.size}} sq</p>
    </li>
  </ul>
</div>