<nav class="nav-top has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab category" ng-click="vm.selectCategory('library')" ng-class="{'is-active': vm.categoryTab === 'library'}">Library</a>
      <a class="nav-item is-tab" ng-click="vm.selectCategory('vegetable')"  ng-class="{'is-active': vm.categoryTab === 'vegetable'}">Vegetables</a>
      <a class="nav-item is-tab" ng-click="vm.selectCategory('herb')"  ng-class="{'is-active': vm.categoryTab === 'herb'}">Herbs</a>
      <a class="nav-item is-tab" ng-click="vm.showSeasons()"  ng-class="{'is-active': vm.seasonsShowing}">Season</a>
      <ul ng-show="vm.seasonsShowing">
        <li ng-class="{active: vm.selectedSeason === 'spring'}" class="season" ng-click="vm.selectSeason('spring')">Spring</li>
        <li ng-class="{active: vm.selectedSeason === 'summer'}" class="season" ng-click="vm.selectSeason('summer')">Summer</li>
        <li ng-class="{active: vm.selectedSeason === 'fall'}" class="season" ng-click="vm.selectSeason('fall')">Fall</li>
        <li ng-class="{active: vm.selectedSeason === 'winter'}" class="season" ng-click="vm.selectSeason('winter')">Winter</li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <ul class="plants">
    <li class="plant draggable" ng-repeat="plant in vm.displayedLibrary" ng-mousedown="vm.setCurrentPlant(plant)" jqyoui-draggable="{onStart: 'vm.start()'}" data-drag="true"
          data-jqyoui-options="{helper: 'clone', revert: 'invalid', cursorAt: {left: 5, top: 5}}">
      <p class="plant-title">{{plant.name}}</p>
      <img src="{{plant.image}}">

      <p class="size-seed">{{plant.seed_count}} sd | {{plant.size}} sq</p>
    </li>
  </ul>
</div>