#container {
  #header {
    position: fixed;
    width: 100%;
    z-index: 100;
    .nav {
      height: 60px;
      // border: solid rgba(17, 17, 17, 0.1) 1px;
      border: solid 1px black;
      background-color: #0f0f0f;
    }
  }

  .body {
    padding: 60px 0 0 0;
  }
}