<div class="home wrapper">
  <!-- //////////////////////// -->
  <!-- Jumbotron -->
  <!-- //////////////////////// -->

  <div class="jumbotron">
    <img src="">
  </div>
  <div class="content">
  
    <!-- //////////////////////// -->
    <!-- Planner -->
    <!-- //////////////////////// -->
    <div ng-click="vm.planner()" class="planner">
        <a href=""><h3 class="title"><span class="green">my</span><span class="orange">Garden</span> Planner</h3></a>
        <p ng-hide="vm.loggedIn">Start planning your garden.</p>
        <a href="" ng-show="vm.loggedIn">New Garden</a>
        <!-- If user logged in href = new garden -->
        <!-- If user not logged in href = login/register page -->
    </div>

    <!-- //////////////////////// -->
    <!-- Library -->
    <!-- //////////////////////// -->

    <div ng-click="vm.library()" class="library">
      <a href="/#/library"><h3 class="title">Plants Library</h3></a>
      <div>
        <a class="button" href="">Vegetables</a>
        <a class="button" href="">Herbs</a>
        <a class="button" href="">By Season</a>
      </div>
    </div>

</div>

<!-- //////////////////////// -->
<!-- Login Mobile-->
<!-- //////////////////////// -->
<div class="user sm-sc">
  <button class="button">Login</button>
  <button class="button">Register</button>
</div>

<!-- //////////////////////// -->
<!-- Login Big Screen-->
<!-- //////////////////////// -->
<div class="user lg-sc">
  <div class="login">
  <h3 class="subtitle">Login</h3>
    <form>
      <div class="inputs">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="username" placeholder="Password">
      </div>
      <button>Login</button>
    </form>
  </div>
  <div class="register">
    <h3 class="subtitle">Register</h3>
    <form>
      <input type="email" name="email" placeholder="Email">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="username" placeholder="Password">
      <button>Register</button>
    </form>
  </div>
</div>

<!-- //////////////////////// -->
<!-- Footer-->
<!-- //////////////////////// -->
<footer>
  <p>
    <strong>myGarden</strong> by <a href="">humdrum</a> <!-- Link humdrum to a page with our wonderful faces!! :D -->
  </p>
  <p>
    <a class="icon" href="https://github.com/jjrajani">
      <i class="fa fa-github"></i>
    </a>
  </p>
  <!-- INSERT JOSH GITHUB -->
  <p>
    <a class="icon" href="https://github.com/">
      <i class="fa fa-github"></i>
    </a>
  </p>
</footer>
  </div>