hello home
<div class="body home">
  <!-- Planner Div -->
  <div ng-click="vm.planner()">
    <div>
      <a href="/#/planner"><h3 class="title" >Garden Planner</h3></a>
      <p><span class="green">my</span><span class="orange">Garden</span> is desigend to help make gardening easy.  Use our Garden Planner and Plant Library to help you decide how much garden you need and which plants fit your garden. Keep track of your growing season and share your experience with <a href="/#/fellow"><span class="orange">fellow</span><span class="green">Gardeners</span></a>.</p>
    </div>
    <img src="http://www.placecage.com/400/300">
  </div>
  <!-- Library Row -->
  <div ng-click="vm.library()">
    <div>
      <a href="/#/library"><h3 class="title" >Plants Library</h3></a>
      <p><span class="green">my</span><span class="orange">Garden</span> Plant Library has been designed for easy consumption.  Too often gardening resources are compiled of masses of text.  Our library attempts to streamline the information and give you just what you need, as you need it, to get you gardening faster.</p>
    </div>
    <img src="http://www.placecage.com/400/300">
  </div>
  <!-- Fellow Row -->
  <div ng-click="vm.fellow()">
    <div>
      <a href="/#/fellow"><h3 class="title" >Fellow Gardeners</h3></a>
      <p> Find and connect with growers in your area.  Share your garden experience with <a href="/#/fellow"><span class="orange">fellow</span><span class="green">Gardeners</span></a></p>
    </div>
    <img src="http://www.placecage.com/400/300">
  </div>
</div>