<div id="container">
  <div id="header">
    <nav class="nav">
      <div class="nav-left">
        <a href="/#/" class="title nav-item"><span class="green">my</span><span class="orange">Garden</span></a>
      </div>

      <div class="nav-right nav-menu">
        <a class="nav-item" href="/#/profile" ng-show="vm.loggedIn">
          Profile
        </a>
        <a class="nav-item" href="/#/admin" class="button" ng-show="vm.isAdmin">
          Admin
        </a>
        <a class="nav-item" href="/#/" class="button" ng-click="vm.logOut()" ng-show="vm.loggedIn">
          Logout
        </a>
        <a class="nav-item" href="/#/login" class="button" ng-hide="vm.loggedIn">
          Login
        </a>
      </div>
    </nav>
  </div>

  <div class="body" ui-view></div>

</div>








<!-- 

<div id="header">
    <div class="nav-left">
      <a class="" href="#"><span class="green">my</span><span class="orange">Garden</span></a>
    </div>
    <div class="nav-right">
      <a href="/#/">Home</a>

      <a class="" ng-hide="vm.loggedIn" href="/#/login">Login</a>
      <a class="" ng-hide="vm.loggedIn" href="/#/register">Register</a>
      <a class="" ng-show="vm.loggedIn" href="#" ng-click="vm.logOut()">Logout</a>

    </div>
</div>

<div id="wrapper" class="container-fluid layout" ui-view></div>


<div id="footer" layout="row" layout-align="space-around">
  <p class="col-xs-6 col-sm-6">@humdrum</p>
  <p class="col-xs-6 col-sm-6 text-right">a <span class="blue">magnanimus</span> app</p>
</div> -->